/*
 * Lemonldap::NG styles
 * Commin styles for Manager
 *
 * Coding rules:
 *   selector
 *   {
 *   	property:value;
 *   }
 */

/* Main */
html,body
{
	margin:0;
	padding:0;
	height:100%;
	min-height:100%;
}

body
{
	font:normal 9pt sans-serif;
	background:#000;
}

.content
{
	display:block;
}

.hidden
{
	display:none;
}

a, a:link, a:visited
{
	text-decoration:none;
}

/* Buttons, Inputs*/
button
{
	cursor:pointer;
}

input, select, textarea
{
	font-weight:bold;
	border:1px solid #bbb;
	padding:5px 10px;
	margin:5px;
}

textarea#filearea
{
	font-size:8pt;
	font-family:monospace;
	background-color:#ddd;
}

input#text, select
{
	width:80%;
	text-align:center;
}

input#int
{
	width:100px;
	text-align:center;
}


option
{
	margin:5px;
}

/* Divs */
#container
{
	height:96%;
	padding:1%;
}

#header img, #header p
{
	float:left;
}

#header p
{
	margin:5px 10px;
	padding:5px;
}

#page
{
	clear:both;
	margin-top:50px;
	height:92%;
}

#menu
{
	float:left;
	padding:10px;
	width:300px;
	border-right:4px double #aaa;
	height:96%;
	overflow-x:hidden;
	overflow-y:auto;
}

#data
{
	margin:0 0 0 320px;
    overflow-y:auto;
    height:96%;
}

#buttons, #edition, #help
{
	text-align:center;
	margin:10px 50px;
	padding:5px;
	border:solid #bbb 1px;
}

#help h1, #buttons h1, #edition h1
{
	text-align:center;
	font-size:12pt;
	padding:5px 10px;
	margin:5px 10px;
	cursor:pointer;
}

#help h1 img, #buttons h1 img, #edition h1 img
{
	vertical-align:bottom;
	margin-bottom:2px;
	margin-right:5px;
}

#help_content, #buttons_content, #content
{
	padding:5px 10px;
	margin:5px 10px;
	overflow:auto;
}

#help_content
{
	text-align:left;
	max-height:200px;
}

#css-switch, #query-switch
{
	padding:5px 10px;
	margin-bottom:10px;
	border:solid #bbb 1px;
}
#css-switch a, #query-switch a
{
	padding-left:20px;
	margin-left:10px;
}

#css-switch a[alt=tree]
{
	background:url("application_side_tree.png") no-repeat;
}

#css-switch a[alt=accordion]
{
	background:url("application_side_list.png") no-repeat;
}

#query-switch a
{
    /* REPLACE IMAGE */
    background:url("application_side_tree.png") no-repeat;
}

/* Help messages */
#help h3
{
	text-align:center;
	letter-spacing:2px;
	border-bottom:1px solid #aaa;
	padding:5px;
	margin:5px 50px;
}

#help ul
{
	list-style-position:inside;
	list-style-image:url("bullet_orange.png");
}

#help pre
{
	word-wrap:break-word;
	white-space:pre-wrap;
	font-family:monospace;
	background:#ccc;
	border-color:#aaa;
	border-width:1px 1px 1px 5px;
	border-style:solid;
	padding:5px;
}

#help .info, #help .default
{
	padding:5px 5px 5px 30px;
	border:1px solid #aaa;
}

#help .info
{
	background:#ddd url("information.png") no-repeat 5px;
}

#help .default
{
	background:#ddd url("help.png") no-repeat 5px;
}

#help tt
{
	padding:3px;
	background:#ddd;
	font-weight:bold;
}

/* Filearea */
#content_filearea table tr td
{
  text-align:left;
  vertical-align:center;
}
#content_filearea table
{
  margin-left:auto;
  margin-right:auto;
  padding-left:20px;
}
#content_filearea span.loadimg
{
  display:inline-block;
  width:20px;
}

/* saml */
#content_samlAssertion table,
#content_samlService table
{
  margin-left:auto;
  margin-right:auto;
}

/* Sessions explorer */
div.category {
	margin: 5px 50px;
}

div.category h2 {
	margin: 5px 50px;
}

div.category ul {
	text-align: left;
	list-style-position:inside;
	list-style-image:url("bullet_orange.png");
}
